* {
    margin: 0;
    padding: 0;
}

.fundo {
    background: linear-gradient(180deg, #807ECE 0%, #8E7ECE 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.calculadora {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background-color: #2D2A37;
    width: 22.25rem;
    height: 35.375rem;
    padding: 3.38rem 2rem 2rem 2rem;
    border-radius: 3rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 188px 52px 0px rgba(0, 0, 0, 0.01), 0px 120px 48px 0px rgba(0, 0, 0, 0.04), 0px 68px 41px 0px rgba(0, 0, 0, 0.15), 0px 30px 30px 0px rgba(0, 0, 0, 0.26), 0px 8px 17px 0px rgba(0, 0, 0, 0.29), 0px 6px 8px 0px rgba(255, 255, 255, 0.10) inset, 0px -4px 5px 0px rgba(0, 0, 0, 0.22) inset;


}

.botao {
    background-color: #2D2A37;
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
    border-radius: 999px;
    color: white;
    margin: 0.75rem;
    border: none;
    box-shadow: 1px 1px 15px -3px rgb(0, 0, 0),
        inset 1px 1px 5px -3px white;


}

.botao:hover {
    background-color: #807ECE;
}

#conta {
    background-color: #1da51d;
    width: 14.25rem;
    height: 3.125rem;
    margin-bottom: 1.62rem;
    margin-left: 1.12rem;
    margin-right: 1.38rem;
    color: white;
    text-align: right;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}